<launch>
	<arg name="input"/>
	<arg name="output"/>

	<group ns="odas">

		<node pkg="odas_ros" name="source_file" type="src_hops_file" args="$(arg input)" output="screen">

			<param name="outTopic" value="raw_hops"/>

			<param name="config/fS" value="44100"/>
			<param name="config/hopSize" value="128"/>
			<param name="config/nChannels" value="2"/>
			<param name="config/nBits" value="16"/>
		</node>

		<node pkg="odas_ros" name="mapping" type="mod_mapping" output="screen">

			<param name="inTopic" value="raw_hops"/>
			<param name="outTopic" value="map_hops"/>

			<param name="config/fS" value="44100"/>
			<param name="config/hopSize" value="512"/>

			<param name="config/in/nChannels" value="2"/>
			<rosparam param="config/out/map">[1,2]</rosparam>
		</node>

		<node pkg="odas_ros" name="resample" type="mod_resample" output="screen">

			<param name="inTopic" value="map_hops"/>
			<param name="outTopic" value="resample_hops"/>

			<param name="config/nChannels" value="2"/>

			<param name="config/in/fS" value="44100"/>
			<param name="config/in/hopSize" value="512"/>

			<param name="config/out/fS" value="16000"/>
			<param name="config/out/hopSize" value="512"/>

		</node>

		<node pkg="odas_ros" name="stft" type="mod_stft" output="screen">

			<param name="inTopic" value="resample_hops"/>
			<param name="outTopic" value="stft_spectra"/>

			<param name="config/nChannels" value="2"/>
			<param name="config/fS" value="44100"/>

			<param name="config/in/hopSize" value="512"/>
			<param name="config/out/frameSize" value="1024"/>

		</node>

		<node pkg="odas_ros" name="ssl" type="mod_ssl" output="screen">

			<param name="inTopic" value="stft_spectra"/>
			<param name="outTopic" value="pots"/>


			<param name="general/epsilon" value="1E-20"/>
			<param name="general/frameSize" value="1024"/>

			<param name="general/samplerate/mu" value="44100"/>
			<param name="general/samplerate/sigma2" value="0.01"/>

			<param name="general/speedofsound/mu" value="343.0"/>
			<param name="general/speedofsound/sigma2" value="25.0"/>

			<rosparam ns="general" file="$(find odas_ros)/launch/mics.yaml" />


			<param name="config/nPots" value="4"/>
			<param name="config/nMatches" value="10"/>
			<param name="config/probMin" value="0.5"/>
			<param name="config/nRefinedLevels" value="1"/>
			<param name="config/gainMin" value="0.25"/>
			<param name="config/nThetas" value="181"/>

			<rosparam param="config/scans">[{'level': 2, 'delta': -1},{'level': 4, 'delta': -1}]</rosparam>

		</node>

		<node pkg="odas_ros" name="sink_raw" type="snk_hops_file" args="$(arg output)" output="screen">

			<param name="inTopic" value="resample_hops"/>

			<param name="config/fS" value="16000"/>
			<param name="config/hopSize" value="512"/>
			<param name="config/nChannels" value="2"/>
			<param name="config/nBits" value="16"/>
		</node>

	</group>
</launch>
